* {
    margin: 0 auto;
    padding: 0 auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #A69DB0;
    width: 100vw;
    
}

button {
    background-color: transparent !important;
    border: none !important;
}

#section-mobile-home {
    background-color: #37264A;
    border-radius: 0px 0px 120px 120px;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
}

#logo-astronauta {
    transform: scaleX(-1);
    height: 90%;
    width: auto;
    display: flex;
}

#section-criador-lunar {
    margin: 10px auto 10px auto;
    width: 320px;
    position: relative;
    top: -40px;
    z-index: 2;
}

.texto-criador-lunar {
    color: #D9D9D9;
    width: auto;
}

#titulo-criador-lunar {
    margin: 10px;
}

#paragrafo-criador-lunar {
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin: 0px;
}

#div-titulo-criador-lunar {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #03051A;
    border-radius: 50px 50px 10px 10px;
    margin: 0px 0px 10px 0px;
    height: 10%;
}

#div-descricao-criador-lunar {
    background-color: #03051A;
    border-radius: 10px 10px 50px 50px;
    display: flex;
}

#btn-estrela-mobile {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 50px;
    padding: auto;
}

.btn-nav-mobile-img {
    max-width: 83%;
    margin-bottom: 20%;
}

.btn-src-mobile-img {
    max-width: 60%;
    margin-bottom: 10%;
    margin-left: 20%;
}

.btn-detalhes-mobile-img {
    max-width: 83%;
    margin: 10%;
}

.btn-src-mobile {
    background-color: #03051A;
    height: 15%;
    width: 15%;
    margin: 0;
    padding: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 5px 30px;
    padding: auto;
}

.btn-nav-mobile {
    background-color: #03051A;
    height: 15%;
    width: 15%;
    margin: 0;
    padding: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 30px 5px;
    padding: auto;
}

.conteudoOffCanvas {
    height: 100vh;
    width: 80vw;
    position: fixed;
    margin: 0;
    transition: translateX(-100%);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.cards-container {
    display: flex;
    overflow-x: auto;
}

#jogos-da-semana-card {
    background-color: #D9D9D9;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
    padding: 10px;
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogos-da-semana-card h4 {
    margin: 5px 5px 5px 5px;
    font-size: 20px;
}

.card {
    width: 200px;
    border: 0px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale
}

.jogo-container {
    margin: 0px 10px 0px 0px;
    position: relative;
}

#jogo-container-1 {
    margin-left: 10px;
}

.btn-carrossel-mobile {
    background-color: #37264A;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 25%;
    width: 25%;
    margin: 0;
    padding: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 20px 0px;
    padding: auto;
}
#div-pesquisa{
    border: none;
    margin-left: 8%;
    width: 70%; 
    height: 40px; 
    background-color: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    border-radius: 50px;
    display: flex;
    
}

.btn-carrossel-mobile-img {
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

ul,
ol {
    list-style-type: none;
}

#gatilhoMenu {
    position: relative;
    z-index: 1;
}

.conteudoOffCanvas {
    height: 100vh;
    width: 40vw;
    position: fixed;
    left: -40vw;
    background-color: #03051A;
    transition: left 0.3s ease;
    z-index: 3;
}

.listaOffCanvas {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.iconeMenu {
    margin-top: 60%;
    margin-bottom: 6%;
    max-width: 50%;
    margin-bottom: 10%;
}

.ativarOffCanvas {
    transform: none !important;
    left: 0;
}
.campo-pesquisa {
    display: none;
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0.5%;
    left: 22%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.input-pesquisa {
    width: calc(100% - 0px); 
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 0;
}
.campo-pesquisa.ativo {
    display: flex;
    background-color: transparent;
}

#inputPesquisa {
    margin-right: 10px;
}
.fade-preto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 4; 
    display: none; 
}