@media screen and (max-width:768px) {
    *{
        margin: 0 auto;
        padding: 0 auto;
        }
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #03051A !important;
    }
    nav{
        display: none;
    }
    main{
        width: 100%;
        height: 80vh; 
        background: #A69DB0; 
        border-top-right-radius: 130px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    header{
        width: 100%;
        height: 20vh; 
        background-color: #03051A; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    #login{
       width: 100%;
       height: 7%;
       align-items: start;
       margin-bottom: 2%;
    }
    #login label{
        background-color:#D9D9D9 ;
        width: 50%;
        height: 5%;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        color: rgba(0, 0, 0, 0.80); 
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: center;
        font-size:large; 
        position: absolute;
    }
    button{
        background-color: transparent !important;
        border: none !important; 
    }
    #section-mobile-home {
        background-color: #03051A;
        width: 100%;
        height: 100%;
        display: flex;
       align-items: center;
    }
    #section-mobile-home button{
        height: 100%;
        width: auto;
    }
    header img{
        width: auto;
        height: 65%;
        margin-bottom: 3%;
    }
    .btn-nav-mobile-img{
        max-width: 80%;
        height: 70%;
        margin-left: 5%;
    }
    .pesquisa-main{
        width: 100%;
        height: 13%;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        display:flex;
    }
    .input-pesquisa-main{
       width: 70%;
       height: 100%;
       background-color: transparent;
       border: none;
       z-index: 0;
    }
    #div-pesquisa-main{
        border: none;
        margin-left: 8%;
        width: 70%; 
        height: 40px; 
        background-color: #D9D9D9;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-radius: 50px;
        display: flex;
    }
    #img-scr-main{
        width: 20%;
        height: 100%;
        align-items: center;
        display: flex;
        padding-top: 1%;
        padding-left: 3%;
    }
    #img-src-img-main{
        width: auto;
        height: 90%;
    }
    .filtro{
        display: flex;
        margin-right: 18%;
        background-color: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40)!important;
        border-radius: 50px!important;
        position: relative;
        margin-left: 2%;
    }

    .cont-jogos{
        width: 80%;
        justify-content: flex-start;
        display: flex;
        height: 80%;
        overflow: scroll;
        flex-wrap: wrap;
    }
    .cont-jogos div {
        width: auto;
        height: 20%;
        margin-bottom: 2%;
    }
    .cont-jogos div img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.40); 
        object-fit: fill;
    }
    #cor-filtro{
        background-color: #37264A !important;
    }
    #cor-filtro a{
        color: white !important;
    }
    #gatilhoMenu{
        position: relative;
        z-index: 1;
    }
    .conteudoOffCanvas{
        height: 100vh;
        width: 40vw;
        position: fixed;
        left: -40vw;
        background-color: #03051A;
        transition: left 0.3s ease;
        z-index: 0;
    }
    .listaOffCanvas {
        margin-top: 20%;
        display: flex;
        flex-direction: column; 
        justify-content: space-around; 
        padding-top:40%;
    }
    .listaOffCanvas li{
        margin-bottom: 40%;
    }
    .listaOffCanvas a{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }
    .iconeMenu{
        max-width: 90%;
    }
    .ativarOffCanvas{
        transform: none !important;
        left: 0;
    }
    input::placeholder{
        font-size:medium;
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    *{
        margin: 0 auto;
        padding: 0 auto;
        
        }
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #03051A !important;
    }
    nav{
        display: none;
    }


    main{
        width: 100%;
        height: 80vh; 
        background: #A69DB0; 
        border-top-right-radius: 130px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
       
       
        
    }
    header{
        width: 100%;
        height: 20vh; 
        background-color: #03051A; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    #login{
       width: 100%;
       height: 7%;
       align-items: start;
       margin-bottom: 2%;
    
    }
    
    #login label{
        background-color:#D9D9D9 ;
        width: 50%;
        height: 5%;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        color: rgba(0, 0, 0, 0.80); 
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: center;
        font-size:large; 
        position: absolute;
    }
    button{
        background-color: transparent !important;
        border: none !important; 
    
    }
    #section-mobile-home {
        background-color: #03051A;
        width: 100%;
        height: 100%;
        display: flex;
       align-items: center;
       
       
     
    }
    #section-mobile-home button{
        height: 100%;
        width: auto;
    }
    
    
    header img{
        width: auto;
        height: 65%;
        margin-bottom: 3%;
       
    }
    .btn-nav-mobile-img{
        max-width: 80%;
        height: 70%;
        margin-left: 5%;
      
       
    }
    .pesquisa-main{
        width: 100%;
        height: 13%;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        display:flex;
    }
    .input-pesquisa-main{
       width: 70%;
       height: 100%;
       background-color: transparent;
       border: none;
       z-index: 0;
    
    }
    #div-pesquisa-main{
        border: none;
        margin-left: 8%;
        width: 70%; 
        height: 40px; 
        background-color: #D9D9D9;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-radius: 50px;
        display: flex;
        
    }
    
    #img-scr-main{
        width: 20%;
        height: 100%;
        align-items: center;
        display: flex;
        padding-top: 1%;
        padding-left: 3%;
    
      
    }
    #img-src-img-main{
    
        width: auto;
        height: 90%;
       
    }
    
    
    .filtro{
        display: flex;
        margin-right: 18%;
        background-color: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40)!important;
        border-radius: 50px!important;
        position: relative;
        margin-left: 2%;
        
    
    }
    main .cont-jogos{
        width: 80%;
    }
    .cont-jogos{
       
      
        justify-content: flex-start;
        display: flex;
        height: 80%;
        overflow: scroll;
        flex-wrap: wrap;

       
    }
    .cont-jogos div {
        width: auto;
        height: 20%;
        margin-bottom: 2%;
    }

    .cont-jogos div img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.40); 
        object-fit: fill;
       
    }
    #cor-filtro{
        background-color: #37264A !important;
        
    }
    #cor-filtro a{
        color: white !important;
    }
    
    input::placeholder{
        font-size:medium;
        text-align: center;
    }
}

@media screen and (min-width:769px) {
    *{
        margin: 0 auto;
        padding: 0 auto;
        
        }
    body {
        width: 100%;
        overflow-y: auto ;
        background-color: #03051A !important;
    }
    main{
        width: 100%;
        height: 80vh; 
        background: #A69DB0; 
        border-top-right-radius: 130px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        width: 100%;
        height: 20vh;
        background-color: #03051A;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #login{
        width: 100%;
        height: 5%;
       justify-content: flex-start;
    }
    
    #login label {
        background-color: #D9D9D9;
        width: 20%;
        height: 6%;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        color: rgba(0, 0, 0, 0.80);
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: large;
        position: absolute;
    }
    
    
    button{
        background-color: transparent !important;
        border: none !important; 
    
    }
    #section-mobile-home {
       display: none;
    }
    #section-mobile-home button{
        height: 100%;
        width: auto;
    }
    
    
    header img{
        width: auto;
      
        height: 70%;
       
    }
    .btn-nav-mobile-img{
        max-width: auto;
        height: 70%;
       
    }
    .pesquisa-main{
        width: 45%;
        height: 8%;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        display:flex;
        
    }
    .input-pesquisa-main{
       width: 60%;
       height: 100%;
       background-color: transparent;
       border: none;
       z-index: 0;
     
      
    
    }
    #div-pesquisa-main{
        border: none;
        width: 60%; 
        height: 90%; 
        background-color: #D9D9D9;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-radius: 50px;
        display: flex;
       
        
        
    }
    
    #img-scr-main{
        width: 20%;
        height: 100%;
        align-items: center;
        display: flex;
        padding-top: 1%;
        padding-left: 3%;
    
      
    }
    #img-src-img-main{
    
        width: auto;
        height: 90%;
       
    }
    
    
    .filtro{
        display: flex;
        margin-right: 18%;
        background-color: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40)!important;
        border-radius: 50px!important;
        position: relative;
        margin-left: 2%;
        margin-top: 0.5%;
        
    
    }
    .cont-jogos{
        width: 100%;
        height: 83%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1%;
        overflow: auto;
        margin-left: 2.5%;
      
       
    }
   
    .cont-jogos div {
        width: auto;
        height: 25%;
      
        margin: 1%;
        
    }
    .cont-jogos div img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.40); 
        object-fit: fill;
      
    }
    #cor-filtro{
        background-color: #37264A !important;
        
    }
    #cor-filtro a{
        color: white !important;
    }
   
        
    .conteudoOffCanvas{
       display: none;
    }
    
    .listaOffCanvas {
       display: none;
    }
    input::placeholder{
        font-size:medium;
        text-align: center;
    }
    nav{
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        color: white;   
        background-color: #37264A;
        height: 28%;
        width: 100%;    
        display: inline-flex;
        flex-wrap: nowrap;
        left: 0;
        align-items: center; /* Centraliza verticalmente os itens */
        justify-content: center; /* Centraliza horizontalmente os itens */
    }
    .logo{
        height: 100%;
        display: flex;
        background-color: #37264A;
        align-items: center;
        justify-content: start;
        width: 11%;
        border-radius: 10px;
    }
    

    .logo h4{
      margin: 0%;
    }
    
    .logo img{
        height: 100%;
        margin: 5px;
      
       
    }
    .menu {
        background-color: #03051A;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 70%;
        border-radius: 50px 0 50px 0;
        margin: 0px;
    }
    .iconeMenu {
        height: 50%;
        margin: 0;
    }
    .menu li{
        margin-top:2%;
        height: 90%;
    }
    nav form{
        height: 90%;
    }
    .input-pesquisa{
        width: 90%;
        height: 90%;
        background-color: transparent;
        border: none;
        z-index: 0;
     }
     #div-pesquisa{
       display: none;
     }
    
     #img-scr{
         width: 20%;
         height: 80%;
         align-items: center;
         display: flex;
         padding-top: 1%;
     }
     #img-src-img{
         width: 100%;
         height: 100%;
     }
     .perfil{
        width: auto;
        height: 95%;
     }
     .perfil img{
        background-color: #D9D9D9;
        height: 100%;
        width: auto;
        border-radius: 50%;
     }


    }

    img{
        pointer-events: none;
    }
    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 100%;
        width: 100%;
    }
    ul,
    ol {
        list-style-type: none;
    }
    