* {
    margin: 0 auto;
    padding: 0 auto;
    border: none;
}

body {
    width: 100vw;
    overflow: hidden;
    background-color: #03051A !important;
}

main {
    width: 100%;
    height: 85vh;
    background: #A69DB0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header{
    height: 8vh;
    width: 100vw;
}
.input-pesquisa{
    width: 70%;
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 0;

 }
 #div-pesquisa{
     border: none;
     margin-left: 1%;
     height: 38px; 
     background-color: #D9D9D9;
     box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
     border-radius: 50px;
     display: flex;
 }

 #img-scr{
     width: 20%;
     height: 100%;
     align-items: center;
     display: flex;
     padding-top: 1%;
 }
 #img-src-img{
     width: 100%;
     height: 100%;
 }
nav{
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    color: white;   
    background-color: #37264A;
    height: 100%;
    width: 100%;    
    display: inline-flex;
    flex-wrap: nowrap;
    left: 0;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente os itens */
}

button{
    background-color: transparent;
    color: #c4c4c4 !important;
    font-weight: 200 !important;
}

main section{
    height: 86%;
    width: 60%;
    margin-top: 2%;
}
main section form{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main section form input, textarea{
  background-color: #37264A;
  text-align: center;
  border-radius: 30px;
  color: white;
  font-size:small;
  margin: 4%;
  width: 40%;
  height: 10%;
}
main section form button{
    background-color: #37264A;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size:small;
    width: 50%;
    height: 10%;
  }
textarea{
    height: 25% !important ;
    width: 60% !important;
}

#imagens{
    background-color: #37264A;
    height: 50%;
    width: 55%;
    border-radius: 30px;
    margin: 4%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;   
    padding-bottom: 2%;
}

footer{
    width: 100%;
    height: 8vh;
    background-color: #37264A;
    border: none;
    color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
   
}


#upLoadPhoto {
    margin-top: 5%;
    height: 60%;
    width: 30%;
    border: none;
    border-radius: 15px;
    background-color: #c4c4c4;
    display: flex;
    background-image: url(icones/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    display: inline-block; /* Coloca os elementos lado a lado */
    margin-right: 10px; 
    
}

.logo{
    height: 100%;
    display: flex;
    background-color: #37264A;
    align-items: center;
    justify-content: start;
    width: 10%;
    border-radius: 10px;
}
.logo img{
    margin: 2%;
    height: 100%;
}
.menu {
    background-color: #03051A;
    height: 100%;
    display: flex;
    align-items: center; 
    width: 70%;
    margin: 0%;
    border-radius: 50px 0 50px 0;
}
.iconeMenu {
    height: 23px;
    margin: 0;
}
.perfil{
    width: 5%;
 }
 .perfil img{
    background-color: #D9D9D9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
 }

#upLoadPhoto img{
    width: 100%;
    height: 100%; 
    display: flex;
    object-fit: cover;
}
#value{
    color: #c4c4c4 !important;
    font-weight: 200 !important;
}
nav{
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    color: white;   
    background-color: #37264A;
    height: 96%;
    width: 100%;    
    display: inline-flex;
    flex-wrap: nowrap;
    left: 0;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente os itens */
}
.logo{
    height: 100%;
    display: flex;
    background-color: #37264A;
    align-items: center;
    justify-content: start;
    width: 11%;
    border-radius: 10px;
}
.logo h4{
  margin: 0%;
}

.logo img{
    height: 100%;
   
}
.menu {
    background-color: #03051A;
    height: 100%;
    display: flex;
    align-items: center; 
    width: 70%;
    border-radius: 50px 0 50px 0;
    margin: 0px;
}
.iconeMenu {
    height: 30px;
    margin: 0;
}
.input-pesquisa{
    width: 70%;
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 0;

 }
 #div-pesquisa{
     border: none;
     margin-left: 1%;
     height: 30px; 
     background-color: #D9D9D9;
     box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
     border-radius: 50px;
     display: flex;
 }

 #img-scr{
     width: 20%;
     height: 100%;
     align-items: center;
     display: flex;
     padding-top: 1%;
 }
 #img-src-img{
     width: 100%;
     height: 100%;
 }
 .perfil{
    width: auto;
    height: 90%;
 }
 .perfil img{
    background-color: #D9D9D9;
    height: 100%;
    width: auto;
    border-radius: 50%;
 }
 img{
    pointer-events: none;
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
}
ul,
ol {
    list-style-type: none;
}
