* {
    margin: 0 auto;
    padding: 0 auto;
    border: none;
}

body {
    width: 100vw;
    overflow: hidden;
    background-color: #03051A !important;
}

main {
    width: 100%;
    height: 92vh;
    background: #A69DB0;
    border-top-right-radius: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #03051A;
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
    color: #c4c4c4 !important;
    font-weight: 200 !important;
}

main section{
    height: 84%;
    width: 100%;
}
main section form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main section form input, textarea{
  background-color: #37264A;
  text-align: center;
  border-radius: 30px;
  color: white;
  font-size:x-large;
  margin: 4%;
  width: 70%;
  height: 7%;
}
main section form button{
    background-color: #37264A;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size:x-large;
    margin: 4%;
    width: 70%;
    height: 7%;
  }
textarea{
    height: 20% !important ;
}

#imagens{
    background-color: #37264A;
    height: 30%;
    width: 70%;
    border-radius: 30px;
    margin: 4%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;   
    padding-bottom: 2%;
}

#footer{
    width: 65%;
    height: 18%;
    background-color: #37264A;
    border-top-left-radius: 300px; 
    border-top-right-radius: 300px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 200;
}

#footer img{
    width: 25%;
    height: auto;
}

#upLoadPhoto {
    margin-top: 5%;
    height: 60%;
    width: 40%;
    border: none;
    border-radius: 30px;
    background-color: #c4c4c4;
    display: flex;
    background-image: url(icones/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    display: inline-block; /* Coloca os elementos lado a lado */
    margin-right: 10px; 
    
}
#section-mobile-home {
    background-color: #03051A;
    width: 100%;
    height: 100%;
    display: inline;
    margin-top:5%;
    padding-left: 2%;
 
}
#gatilhoMenu{
    position: relative;
    z-index: 1;
}
    
.conteudoOffCanvas{
    height: 100vh;
    width: 40vw;
    position: fixed;
    left: -40vw;
    background-color: #03051A;
    transition: left 0.3s ease;
    z-index: 0;
}

.listaOffCanvas {
    margin-top: 20%;
    display: flex;
    flex-direction: column; /* Dispor os itens verticalmente */
    justify-content: space-evenly    ; /* Alinhar os itens ao centro horizontalmente */
    align-items: center; /* Alinhar os itens ao centro verticalmente */
}

.iconeMenu{
    margin-top: 60%;
    margin-bottom: 6%;
    max-width: 50%;
    margin-bottom: 10%;
 
}

.ativarOffCanvas{
    transform: none !important;
    left: 0;
}
#upLoadPhoto img{
    width: 100%;
    height: 100%; 
    display: flex;
    object-fit: cover;
}
#value{
    color: #c4c4c4 !important;
    font-weight: 200 !important;
}