@media screen and (max-width:768px) {
    #bodyDasktop {
        display: none;
    }

    * {
        margin: 0 auto;
        padding: 0 auto;
    }

    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #A69DB0;
        width: 100vw;
        overflow: hidden;
    }


    #section-mobile-home {
        background-color: #37264A;
        border-radius: 0px 0px 120px 120px;
        width: auto;
        height: 300px;
        display: flex;
        justify-content: center;
    }

    #logo-astronauta {
        transform: scaleX(-1);
        height: 90%;
        width: auto;
        display: flex;
    }

    #section-criador-lunar {
        margin: 10px auto 10px auto;
        width: 320px;
        position: relative;
        top: -40px;
        z-index: 2;
    }

    .texto-criador-lunar {
        color: #D9D9D9;
        width: auto;
    }

    #titulo-criador-lunar {
        margin: 10px;
    }

    #paragrafo-criador-lunar {
        text-align: justify;
        padding: 5px 15px 5px 15px;
        margin: 0px;
    }

    #div-titulo-criador-lunar {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #03051A;
        border-radius: 50px 50px 10px 10px;
        margin: 0px 0px 10px 0px;
        height: 10%;
    }

    #div-descricao-criador-lunar {
        background-color: #03051A;
        border-radius: 10px 10px 50px 50px;
        display: flex;
    }

    #btn-estrela-mobile {
        background-color: #D9D9D9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 0px 0px 50px;
        padding: auto;
    }

    .btn-nav-mobile-img {
        position: relative;
        max-width: 83%;
        margin-bottom: 20%;
    }

    .btn-src-mobile-img {
        max-width: 60%;
        margin-bottom: 10%;
        margin-left: 20%;
    }

    .btn-detalhes-mobile-img {
        max-width: 83%;
        margin: 10%;
    }

    .btn-src-mobile {
        background-color: #03051A;
        height: 15%;
        width: 15%;
        margin: 0;
        padding: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 0px 5px 30px;
        padding: auto;
    }

    .btn-nav-mobile {
        background-color: #03051A;
        height: 15%;
        width: 15%;
        margin: 0;
        padding: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 5px 30px 5px;
        padding: auto;
    }

    .conteudoOffCanvas {
        height: 100vh;
        width: 80vw;
        position: fixed;
        margin: 0;
        transition: translateX(-100%);
    }

    .carousel-container {
        width: 100%;
        overflow: hidden;
    }

    .cards-container {
        display: flex;
        overflow-x: auto;
    }

    #jogos-da-semana-card {
        background-color: #D9D9D9;
        border-radius: 15px;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        padding: 10px;
        margin: 10px 10px 10px 10px;
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #jogos-da-semana-card h4 {
        margin: 5px 5px 5px 5px;
        font-size: 20px;
    }

    .card {
        width: 200px;
        border: 0px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .card img {
        width: 100%;
        border-radius: 10px;
    }

    .card:hover {
        transform: scale
    }

    .jogo-container {
        margin: 0px 10px 0px 0px;
        position: relative;
    }

    #jogo-container-1 {
        margin-left: 10px;
    }


    #gatilhoMenu{
        position: relative;
        z-index: 11;
    }
        
    .conteudoOffCanvas{
        height: 100vh;
        width: 40vw;
        position: fixed;
        left: -40vw;
        background-color: #03051A;
        transition: left 0.3s ease;
        z-index: 10;
    }
    
    .listaOffCanvas {
        margin-top: 20%;
        display: flex;
        flex-direction: column; 
        justify-content: space-around; 
        padding-top:40%;
    }
    .listaOffCanvas li{
        margin-bottom: 40%;
    }
    .listaOffCanvas a{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }
    .iconeMenu{
        max-width: 90%;
    }
    
    .ativarOffCanvas{
        transform: none !important;
        left: 0;
    }
    main {
        margin-top: 1.5%;
        height: 48vh;
        width: 100%;
        
        display: flex;
        flex-direction: column;
    }

    .devs {
      
        margin-bottom: 3%;
        display: flex;
        
        flex-wrap: wrap;
        background-color: #03051A;
        height: 500px;
        width: 80%;
        border-radius: 5px 80px 40px 40px;
        position: relative;
        overflow: auto;
    }

    .devs span {
        background-color: #D9D9D9;
        border-radius: 5px 40px 40px 40px;
        height: 17%;
        font-weight: bold;
        color: #37264A;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .devs div {
        overflow: auto;
        position: absolute;
        height: 81%;
        width: 100%;
        color: #A69DB0;
        border-top-right-radius: 20px;
        background: #37264A;
        bottom: 0% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 1% 0 1%;
        text-align: center;
       
    }

    button {

        border: none;
        background-color: transparent;
    }
    footer{
        display: none;
    }
}

@media screen and (min-width:769px) {
    #bodyMobile {
        display: none;
    }

    * {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0 auto;
        padding: 0 auto;
    }

    button {

        border: none;
        background-color: transparent;
    }

    body {
        background-color: #A69DB0;
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
    }

    header {
        height: 45vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    nav{
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        color: white;   
        background-color: #37264A;
        height: 15%;
        width: 100%;    
        display: inline-flex;
        flex-wrap: nowrap;
        left: 0;
        align-items: center; /* Centraliza verticalmente os itens */
        justify-content: center; /* Centraliza horizontalmente os itens */
    }
    footer{
        width: 100%;
        height: 7vh;
        background-color: #37264A;
        border: none;
        color: #c4c4c4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
       
       
    }

    header section {
        height: 91%;
        background-color: #37264A;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        border-radius: 0px 0px 0px 100px;
        align-items: center;
      
        overflow: hidden;

    }

    .content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        width: fit-content;
        overflow: hidden;
    }

    .content-box img {
        height: 140%;

    }

    .foto-p {
        display: none;
        /* Começa oculto */
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        /* Cor preta semi-transparente */
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        transition: opacity 0.3s;
        /* Adiciona transição suave */
    }

    .foto:hover .foto-p {
        display: block;
        /* Torna visível quando o hover está ativo */
    }

    .foto:hover {
        transform: scale(1);
        width: 40%;
        /* Aumenta o tamanho da foto */

    }

    header section h1 {
        color: #D9D9D9;
        font-size: x-large;
        margin-left: 5%;
    }

    #div-h1 {
        margin-top: 7%;
        width: 100%;
        height: 40px;
        background-color: #03051A;
        color: #D9D9D9;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 100px 400px 10px 50px;
    }

    #div-p {
        margin-top: 1%;
        width: 98%;
        height: 90px;
        background-color: #03051A;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 20px 400px 50px;
        padding: 1%;
    }


    #criador-btn {
        margin-top: 2%;
        width: 40%;
        display: flex;
        height: 30px;
        background-color: #D9D9D9;
        border-radius: 20px 50px 50px 100px;
        color: #03051A !important;
        font-size: medium;
        margin-left: 0%;
    }


    body section {
        height: 100%;
        width: 100%;
    }

    main {
        margin-top: 1.5%;
        height: 48vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .imagen{
        height: 100%;
        width: 50%;
        border-top-right-radius: 150px;
        background-color: #03051A;
        display: flex;
        overflow: hidden;
    }
    .imagen img{
        height: 100%;
    }
    .texto{
        height: 100%;
        width: 50%;
        color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .texto img{
        height: 50%;
    }

    .logo{
        height: 100%;
        display: flex;
        background-color: #37264A;
        align-items: center;
        justify-content: start;
        width: 10%;
        border-radius: 10px;
    }
    .logo h4{
      margin: 0%;
    }
    
    .logo img{
        height: 100%;
        margin: 5px;
       
    }
    .menu {
        background-color: #03051A;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 70%;
        border-radius: 50px 0 50px 0;
        margin: 0px;
    }

    .devs {
        margin-bottom: 3%;
        display: flex;
        flex-wrap: wrap;
        background-color: #03051A;
        height: 500px;
        width: 80%;
        border-radius: 5px 80px 40px 40px;
        position: relative;
        overflow: auto;
    }

    .devs span {
        background-color: #D9D9D9;
        border-radius: 5px 40px 40px 40px;
        height: 10%;
        font-weight: bold;
        color: #37264A;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .devs div {
        overflow: auto;
        position: absolute;
        height: 81%;
        width: 100%;
        color: #A69DB0;
        border-top-right-radius: 20px;
        background: #37264A;
        bottom: 0% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .menu li{
 
        height: 40%;
      
       
    }
    .iconeMenu {
        height: 100%;
        margin: 0px;
    }
    .input-pesquisa{
        width: 70%;
        height: 100%;
        background-color: transparent;
        border: none;
        z-index: 0;
    
     }
     #div-pesquisa{
         border: none;
         margin-left: 1%;
         height: 30px; 
         background-color: #D9D9D9;
         box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
         border-radius: 50px;
         display: flex;
     }
    
     #img-scr{
         width: 20%;
         height: 100%;
         align-items: center;
         display: flex;
         padding-top: 1%;
     }
     #img-src-img{
         width: 100%;
         height: 100%;
     }
     .perfil{
        width: auto;
        height: 90%;
     }
     .perfil img{
        background-color: #D9D9D9;
        height: 100%;
        width: auto;
        border-radius: 50%;
     }
}

img{
    pointer-events: none;
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
}
ul,
ol {
    list-style-type: none;
}
