@media screen and (max-width:1009px){
    * {
        margin: 0 auto;
        padding: 0 auto;
        border: none;
    }
    
    body {
        width: 100vw;
        overflow: hidden;
        background-color: #03051A !important;
    }
    
    main {
        width: 100%;
        height: 75vh;
        background: #A69DB0;
        border-top-right-radius: 130px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    header {
        width: 100%;
        height: 25vh;
        background-color: #03051A;
        display: flex;
        justify-content: center;
    }
    
    #registrar {
        width: 100%;
        height: 7%;
        align-items: start;
        margin-bottom: 6%;
    }
    
    #registrar label {
        background-color: #D9D9D9;
        width: 50%;
        height: 7%;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        color: rgba(0, 0, 0, 0.80);
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: large;
        position: absolute;
    }
    
    .formulario {
        width: 100%;
        height: 80%;
    }
    
    .formulario form input {
        width: 80%;
        height: 50px;
        background: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        border-radius: 60px;
        border: none;
        margin: 2%;
        font-size: small;
    }
    
    .formulario form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .formulario form div {
        display: flex;
        width: 85%;
    }
    
    input::placeholder {
        text-align: center;
    }
    
    
    #upLoadPhoto {
        margin-top: 5%;
        height: 80%;
        width: 40%;
        border: none;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: flex;
        background-image: url(icones/plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        align-items: center;
        justify-content: center;
        overflow: hidden !important;
        
    }
    
    #upLoadPhoto img{
        width: 100%;
        height: 100%; 
        display: flex;
        object-fit: cover;
    }
    #footer{
        width: 65%;
        height: 18%;
        background-color: #37264A;
        border-top-left-radius: 300px; 
        border-top-right-radius: 300px;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        flex-direction: column;
        color: white;
        font-weight: 200;
    }
    
    #footer img{
        width: auto;
        height: 50%;
    }
    
    button{
        background-color: #37264A;
        width: 40%;
        height: 40px;
        border-radius: 60px !important;
        color: white !important;
        margin-left: 2%;
        margin-top: 5% !important;
        border: none;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        font-weight: 150 !important;
    }
}
@media screen and (min-width:1010px){
    * {
        margin: 0 auto;
        padding: 0 auto;
        border: none;
    }
    
    body {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
        background-color: #03051A !important;
    }
    
    main {
        width: 100%;
        height: 80vh;
        background: #A69DB0;
        border-top-right-radius: 130px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    header {
        width: 100%;
        height: 20vh;
        background-color: #03051A;
        display: flex;
        justify-content: center;
    }
    
    #registrar {
        width: 100%;
        height: 7%;
       justify-content: flex-start;
    }
    
    #registrar label {
        background-color: #D9D9D9;
        width: 25%;
        height: 5%;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        color: rgba(0, 0, 0, 0.80);
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: large;
        position: absolute;
    }
    
    .formulario {
        width: 100%;
        height: 87%;
    }
    
    .formulario form input {
        width: 50%;
        height: 50px;
        background-color: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40);
        border-radius: 60px;
        border: none;
        margin: 1%;
        font-size: small;
        color: white;
        text-align: center;
    }
    
    .formulario form {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    
    .formulario form div {
        display: flex;
        width: 51%;
    }
    
    input::placeholder {
        text-align: center;
    }
    
    
    #upLoadPhoto {
        margin-top: 1%;
        height: 70%;
        width: 10%;
        border: none;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: flex;
        background-image: url(icones/plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
        
    }
    
    #upLoadPhoto img{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    #footer{
        width: 100%;
        height: 10%;
        background-color: #37264A;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        flex-direction: column;
        color: white;
        font-weight: 200;
    }
    
    #footer img{
       
        height: 60%;
    }
    
    button{
        background-color: #37264A;
        width: 20%;
        height: 40px;
        border-radius: 60px !important;
        color: white !important;
        border: none;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        font-weight: 150 !important;
    }
}









