*{
    margin: 0 auto;
    padding: 0 auto;

}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100vw;
}

#navbar {
    height: 10vh;
}

main {

}

#section-descricao-do-jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #03051A;
}

#div-descricao-do-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 50px 0px 50px 0px;
}

#div-da-img-texto-e-avaliacao-do-jogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

#div-da-img-do-jogo {
    overflow: hidden;
    flex: 40%;
    height: fit-content;
    display: flex;
    border-radius: 50px;
    margin: 0px auto 0px 0px;
}

#img-do-jogo {
    height: auto;
    width: 100%;
}

#div-do-texto-e-da-avaliacao-do-jogo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 60%;
    justify-content: space-between;
    margin: 0px 0px 0px auto;
}

#div-do-texto-e-da-avaliacao-do-jogo-2{
    height: 100%;
    width: 90%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div-titulo-e-paragrafo-do-jogo{

}

#div-do-titulo-do-jogo {
    margin: 0px auto 10px 0px
}

#titulo-do-jogo {
    color: #d9d9d9;

}

#div-do-paragrafo-do-jogo {
    overflow: auto;
}

#paragrafo-do-jogo {
    color:#d9d9d9;
    text-align: justify;
}

#div-avaliacao-e-botao-download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}

#div-avaliacao-do-jogo {
    display: flex;
    margin: 0px auto 0px 0px;
}

#img-avaliacao-jogo {

}

#div-botao-download {
    border-radius: 30px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px auto;
    height: 100%;
}

#img-botao-download {
    margin: 0px 25px 0px 25px;
    height: 60%;
}





.carrossel-container {
    margin: 50px 0px 50px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
  
.span-btn-carrossel{
    display: flex;
    height: fit-content;
    width: fit-content;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 47vw;
    overflow: hidden;
}
  
.slide {
    width: 100%;
    display: flex;
}
  
.div-imagem-carrossel{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    margin: 0px 1vw 0px 0px;
}

.img-carrossel {
    width: 15vw;
    height: auto;
}
  
.btn-carrossel {
    background-color: transparent !important;
    border: none !important;
}
  
.btn-prev {
    left: 10px;
}
  
.btn-next {
    right: 10px;
}