*{
    margin: 0 auto;
    padding: 0 auto;
    
    }
    body {
        width: 100vw;
        overflow: hidden;
        background-color: #37264A !important;
    }
    header{
       
        height: 7vh;
    }
 
    button{
        background-color: transparent !important;
        border: none !important; 

    }
    #section-mobile-home {
        background-color: #37264A;
        width: auto;
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding-left: 2%;
     
    }

    main{
        width: 100%;
        height: 93vh; 
        background: #A69DB0; 
        border-top-right-radius: 130px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .btn-nav-mobile-img{
        max-width: 83%;
        margin-bottom: 20%;
    }
    .pesquisa{
        width: 100%;
        height: 13%;
        flex-direction: row; /* Alterado para "row" para colocar os elementos na mesma linha */
        justify-content: space-between; /* Distribui os elementos ao longo da linha */
        align-items: center;
        display:flex;
    }
    .input-pesquisa{
       width: 70%;
       height: 100%;
       background-color: transparent;
       border: none;
       z-index: 0;

    }
    #div-pesquisa{
        border: none;
        margin-left: 3%;
        width: 50%; 
        height: 38px; 
        background-color: #D9D9D9;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
        border-radius: 50px;
        display: flex;
        
    }
  
    #img-scr{
        width: 15%;
        height: 100%;
        align-items: center;
        display: flex;
        padding-top: 1%;
    
      
    }
    #img-src-img{

        width: 100%;
        height: 100%;
       
    }
    
   
    .filtro{
        display: flex;
        margin-left: 4px;
        background-color: #37264A;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40)!important;
        border-radius: 50px!important;
        position: relative;

    }
    .cont-jogos{
        width: 100%;
        height: 87%;
       
    }
    .cont-jogos div{
        flex-direction: row; /* Alterado para "row" para colocar os elementos na mesma linha */
        justify-content: space-between; /* Distribui os elementos ao longo da linha */
        display: flex;
        margin-bottom: 5%;
        height: 16%;
        width: auto;
    }
    .cont-jogos div div{
        width: 27%;
        height: 100%;
        overflow: hidden;
        
    }
    .cont-jogos div img{
        width: 100%;
        height: 100%;
        border-radius: 44px;
        box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.40); 
        object-fit: fill;
    }

  

 

 