*{
    margin: 0 auto;
    padding: 0 auto;
    
    }
body {
    width: 100vw;
    overflow: hidden;
    background-color: #03051A !important;
}
main{
    width: 100%;
    height: 75vh; 
    background: #A69DB0; 
    border-top-right-radius: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    
}
header{
    width: 100%;
    height: 25vh; 
    background-color: #03051A; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#login{
   width: 100%;
   height: 7%;
   align-items: start;
   margin-bottom: 6%;

}

#login label{
    background-color:#D9D9D9 ;
    width: 50%;
    height: 7%;
   
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgba(0, 0, 0, 0.80); 
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:large; 
    position: absolute;
}

.formulario{
    width: 100%;
    height: 80%;
   
    
    
}

.formulario form input{
    width: 80%;
    height: 50px;
    background: #37264A; 
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    border-radius:60px;
    border: none;
    margin: 2%;
    font-size: small;
   
}
.formulario form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

   

}
input::placeholder{
    text-align: center;
}

header img{
    width: 40%;
    height: auto;
}

#btnlogin{
    background-color: #37264A;
    width: 30%;
    height: 50px;
    border-top-left-radius: 67.12px; 
    border-bottom-left-radius:  67.12px;
    color: white;
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    font-weight: 200;
}
#btncadastro{
    background-color: #37264A;
    width: 30%;
    height: 50px;
    border-top-right-radius: 67.12px; 
    border-bottom-right-radius:  67.12px;
    color: white;
    margin-left: 2%;
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.40); 
    font-weight: 200;
}

form div{
    width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#footer{
    width: 65%;
    height: 18%;
    background-color: #37264A;
    border-top-left-radius: 300px; 
    border-top-right-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 200;
}

#footer img{
    width: 25%;
    height: auto;
}